* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: $color-uno;
}


body {
    min-height: 100vh;
    max-width: 1920px;
    margin: auto;
    color: $color-fuente;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 250;
    font-style: normal;
}

ul {
    text-decoration: none;
    list-style-type: none;
    gap: 2%;
    font-size: 15px;
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: 0;
}

h2 {
    text-align: center;
    margin-top: 15px;
    font-weight: 600;
}


header {
    width: 100%;
}

.grid-container {
    min-height: 100vh;
    display: grid;
    height: fit-content;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

main {
    grid-area: main;
    background-color: $color-uno;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;


    @include mq-sm {
        position: relative;

        h2 {
            padding-top: 50px;
            margin: 0;
            font-size: 40px;
            font-weight: 600;
        }
    }
}