* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #202C31;
}

body {
  min-height: 100vh;
  max-width: 1920px;
  margin: auto;
  color: antiquewhite;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
}

ul {
  text-decoration: none;
  list-style-type: none;
  gap: 2%;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 0;
}

h2 {
  text-align: center;
  margin-top: 15px;
  font-weight: 600;
}

header {
  width: 100%;
}

.grid-container {
  min-height: 100vh;
  display: grid;
  height: fit-content;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  grid-template-areas: "header" "main" "footer";
}

main {
  grid-area: main;
  background-color: #202C31;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 768px) {
  main {
    position: relative;
  }
  main h2 {
    padding-top: 50px;
    margin: 0;
    font-size: 40px;
    font-weight: 600;
  }
}

.botons {
  display: flex;
  justify-content: center;
  color: antiquewhite;
  background-color: #6B8D9E;
  text-align: center;
  width: 150px;
  padding: 10px 20px;
  margin: 10px 10px;
  border-radius: 10px;
}
.botons a {
  text-decoration: none;
  color: antiquewhite;
  font-weight: bolder;
  align-self: center;
}
.botons:hover {
  translate: 1px -5px;
  transform: scale(1.1);
  transition: box-shadow 0.5s ease;
  box-shadow: 0 8px 8px 0 rgba(40, 40, 46, 0.5);
  background-color: #587381;
}

.navbar {
  background-color: #182125 !important;
}

.navbar-brand img {
  filter: drop-shadow(4px 4px 5px antiquewhite);
}
@media (max-width: 768px) {
  .navbar-brand {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.nav-link {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #1d282d;
  font-weight: bolder;
}
.nav-link:hover {
  translate: 1px -5px;
  transform: scale(1.1);
  transition: box-shadow 0.5s ease;
  box-shadow: 0 8px 8px 0 rgba(40, 40, 46, 0.5);
  color: #6B8D9E;
  background-color: #26343b;
}
.nav-link:visited {
  color: #6B8D9E;
}
@media (max-width: 768px) {
  .nav-link {
    padding: 0px 3px 0px 3px;
    margin-top: 5px;
  }
}

@media (max-width: 768px) {
  .container-fluid {
    flex-direction: column;
  }
  .btn-menu {
    color: transparent;
  }
  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28250, 235, 215, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
  .navbar-toggler {
    border: solid rgba(250, 235, 215, 0.2);
  }
  .nav-item {
    text-align: center;
  }
}
footer {
  grid-area: footer;
  background-color: #182125;
  color: antiquewhite;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  padding-bottom: 10px;
  padding-top: 10px;
}
footer a {
  filter: drop-shadow(0 8px 8px 0 rgb(0, 0, 0));
}

footer ul {
  display: flex;
  align-items: center;
  gap: 50px;
  font-size: 1.5rem;
}

footer a:hover {
  font-size: 2rem;
  transition-delay: 0.1s;
}

.portada-container img {
  align-self: center;
  border-radius: 10px;
  box-shadow: 0 8px 8px 0 rgb(0, 0, 0);
}
.portada-container .texto-portada {
  align-content: center;
  text-align: justify;
}
.portada-container .titulo-cards {
  align-self: end;
  height: fit-content;
  border-top: 1px solid antiquewhite;
  width: 50%;
  margin: 0;
  padding-top: 30px;
}
.portada-container .tarjetas {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 0px 10px 0px 10px;
  margin-bottom: 30px;
}
.portada-container .cards {
  display: flex;
  align-content: center;
  flex-direction: column;
  position: relative;
  width: 50%;
  margin: 0;
}
.portada-container .cards .card {
  background-color: transparent;
  color: antiquewhite;
  border-color: #6B8D9E;
}
.portada-container .cards .botons {
  bottom: 5px;
  width: 110px;
  padding: 0;
  margin: auto auto 5px auto;
  border-radius: 10px;
}
.portada-container .cards .botons:hover {
  translate: 1px -5px;
  transform: scale(1.1);
  transition: box-shadow 0.5s ease;
  box-shadow: 0 8px 8px 0 rgba(40, 40, 46, 0.5);
  background-color: #587381;
}
.portada-container .cards .btn {
  background-color: transparent;
  border: transparent;
  position: relative;
  left: auto;
  bottom: 0px;
}
.portada-container .cards .prensa {
  background-color: #6B8D9E;
  display: flex;
  justify-content: center;
  border-radius: 0.375rem;
}
.portada-container .cards img {
  width: 124px;
  height: 25px;
  box-shadow: none;
  background-color: #6B8D9E;
  margin: 0;
}
.portada-container .carousel {
  box-shadow: none;
}
.portada-container .carousel .card {
  background-color: transparent;
  color: antiquewhite;
  border-color: #6B8D9E;
  text-align: center;
  height: 446px;
  box-shadow: 0 0 10px 5px rgb(0, 0, 0);
}
.portada-container .carousel .card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.portada-container .carousel .card .card-body a {
  position: absolute;
  bottom: 5px;
}
.portada-container .carousel .card img {
  width: 124px;
  height: 25px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0);
  background-color: #6B8D9E;
}
.portada-container .carousel .card .btn {
  background-color: #6B8D9E;
  border: transparent;
  position: relative;
  left: auto;
  bottom: 0px;
}
.portada-container .carousel .card .prensa {
  background-color: #6B8D9E;
  display: flex;
  justify-content: center;
  border-radius: 0.375rem;
}
.portada-container .nota-al-pie {
  display: inline;
  top: 10px;
  position: relative;
  font-size: 1rem;
  font-weight: bolder;
  height: min-content;
}
.portada-container .nota-al-pie a {
  text-decoration: none;
}
.portada-container .nota-al-pie a:link {
  color: #6B8D9E;
}
.portada-container .nota-al-pie a:visited {
  color: #6B8D9E;
}
@media (max-width: 768px) {
  .portada-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 400px 1fr 100px 1fr;
    grid-gap: 5px;
    justify-items: center;
    align-items: center;
    padding: 0px 10px 0px 10px;
    position: relative;
    width: 100%;
    height: 100%;
  }
  .portada-container img {
    max-width: 70%;
    grid-row: 1/2;
    object-fit: contain;
  }
  .portada-container .foto-portada-md {
    display: none;
  }
  .portada-container .texto-portada {
    grid-column: 1/2;
    grid-row: 2/3;
    width: 50%;
    padding: 0;
  }
  .portada-container .titulo-cards {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .portada-container .cards {
    display: none;
  }
  .portada-container .carousel {
    grid-row: 4/5;
    width: 50%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .portada-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 100px 1fr;
    grid-gap: 10px;
    justify-items: center;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0px 10px 0px 10px;
    margin-top: 30px;
  }
  .portada-container .foto-portada-sm {
    display: none;
  }
  .portada-container img {
    max-width: 100%;
    grid-column: 1/2;
    grid-row: 1/2;
    object-fit: contain;
    margin-left: 10px;
  }
  .portada-container .texto-portada {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
    padding: 0 10px 0 10px;
    font-size: 0.8rem;
  }
  .portada-container .nota-al-pie {
    font-size: 0.8rem;
  }
  .portada-container .titulo-cards {
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .portada-container .cards {
    display: none;
  }
  .portada-container .carousel {
    grid-column: 1/3;
    grid-row: 3/4;
    width: 40%;
  }
}
@media (min-width: 1025px) and (max-width: 1340px) {
  .portada-container {
    display: grid;
    grid-template-rows: 1fr 100px 400px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    justify-items: center;
    width: 100%;
    height: 100%;
    padding: 0px 10px 0px 10px;
    margin-top: 30px;
  }
  .portada-container img {
    grid-column: 1/4;
    grid-row: 1/2;
    width: 90%;
    margin-bottom: 50px;
  }
  .portada-container .foto-portada-sm {
    display: none;
  }
  .portada-container .texto-portada {
    grid-column: 4/5;
    grid-row: 1/2;
    padding: 30px 20px 0px 0px;
    margin-bottom: 50px;
  }
  .portada-container .titulo-cards {
    grid-column: 1/5;
    grid-row: 2/3;
  }
  .portada-container .carousel {
    display: none;
  }
  .portada-container .cards {
    grid-column: 1/5;
    grid-row: 3/4;
    justify-content: center;
    text-align: center;
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .portada-container .cards .card .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 10px 0 10px;
  }
  .portada-container .cards .card .card-body p {
    margin-bottom: 16px;
  }
  .portada-container .cards .card .card-body a {
    position: absolute;
    bottom: 5px;
  }
  .portada-container .cards .card1 {
    width: 25%;
  }
  .portada-container .cards .card2 {
    width: 25%;
  }
  .portada-container .cards .card3 {
    width: 25%;
  }
  .portada-container .cards .card4 {
    width: 25%;
  }
}
@media (min-width: 1340px) {
  .portada-container {
    display: grid;
    grid-template-rows: 1fr 100px 400px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    justify-items: center;
    width: 100%;
    height: 100%;
    padding: 0px 10px 0px 10px;
    margin-top: 30px;
  }
  .portada-container img {
    grid-column: 1/4;
    grid-row: 1/2;
    width: 90%;
    max-width: 883px;
    margin-bottom: 50px;
  }
  .portada-container .foto-portada-sm {
    display: none;
  }
  .portada-container .texto-portada {
    grid-column: 4/5;
    grid-row: 1/2;
    padding: 30px 20px 0px 0px;
    margin-bottom: 50px;
  }
  .portada-container .titulo-cards {
    grid-column: 1/5;
    grid-row: 2/3;
  }
  .portada-container .carousel {
    display: none;
  }
  .portada-container .cards {
    grid-column: 1/5;
    grid-row: 3/4;
    justify-content: center;
    text-align: center;
    margin: 0;
    width: 100%;
    height: 100%;
  }
  .portada-container .cards .card .card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 10px 0 10px;
  }
  .portada-container .cards .card .card-body p {
    margin: 16px 0 16px 0;
  }
  .portada-container .cards .card .card-body a {
    position: absolute;
    bottom: 5px;
  }
  .portada-container .cards .card1 {
    width: 25%;
  }
  .portada-container .cards .card2 {
    width: 25%;
  }
  .portada-container .cards .card3 {
    width: 25%;
  }
  .portada-container .cards .card4 {
    width: 25%;
  }
}

.bio-container {
  height: auto;
  display: grid;
  grid-template-rows: min-content min-content min-content min-content;
  grid-template-columns: 1fr;
  grid-row-gap: 15px;
  grid-column-gap: 10px;
  justify-content: center;
  margin-top: 10px;
  height: fit-content;
}
.bio-container .bio-imagen1 {
  width: 90%;
  grid-row: 1/2;
  margin-bottom: 20px;
}
.bio-container .bio-texto1 {
  grid-row: 2/3;
  width: 90%;
  margin: auto;
}
.bio-container .bio-imagen2 {
  width: 90%;
  height: 100%;
  grid-row: 3/4;
  margin-bottom: 20px;
}
.bio-container .bio-texto2 {
  grid-row: 4/5;
  width: 90%;
  margin: auto;
}
.bio-container .bio-texto2 h3 {
  font-weight: 600;
  text-align: center;
}
.bio-container .bio-texto3 {
  grid-column: 1/2;
  grid-row: 5/6;
  margin-bottom: 20px;
  text-align: center;
}
.bio-container img {
  align-self: center;
  justify-self: center;
  border-radius: 10px;
  box-shadow: 0 8px 8px 0 rgb(0, 0, 0);
}
.bio-container p {
  font-size: 0.8rem;
  text-align: justify;
  align-self: center;
  width: 100%;
}
.bio-container ul {
  display: inline;
  font-size: small;
  align-self: center;
  justify-self: center;
  text-align: center;
}
.bio-container h3 {
  font-weight: 600;
  text-align: center;
}
@media (min-width: 1025px) and (max-width: 1340px) {
  .bio-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 0px;
    grid-column-gap: 5px;
    justify-content: center;
    align-content: center;
    padding: 20px 20px 40px 20px;
  }
  .bio-container .bio-imagen1 {
    width: 100%;
    height: auto;
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .bio-container .bio-texto1 {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 100%;
  }
  .bio-container .bio-imagen2 {
    width: 80%;
    height: auto;
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 41.028px;
  }
  .bio-container .bio-texto2 {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 100%;
  }
  .bio-container p {
    font-size: 1rem;
    line-height: 120%;
    padding: 0 15px 0 15px;
  }
}
@media (min-width: 1340px) {
  .bio-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 45% 45%;
    grid-row-gap: 0px;
    grid-column-gap: 0px;
    justify-content: center;
    align-content: center;
    padding: 20px 20px 40px 20px;
  }
  .bio-container .bio-imagen1 {
    width: 80%;
    height: auto;
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .bio-container .bio-texto1 {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 70%;
  }
  .bio-container .bio-imagen2 {
    width: 80%;
    height: auto;
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .bio-container .bio-texto2 {
    grid-column: 2/3;
    grid-row: 2/3;
    width: 80%;
  }
  .bio-container p {
    font-size: 1rem;
    line-height: 120%;
    padding: 0 15px 0 15px;
  }
}

.bio-texto2 h3 {
  font-weight: 600;
  text-align: center;
}

.bio-texto3 {
  grid-column: 1/2;
  grid-row: 5/6;
  margin-bottom: 20px;
  text-align: center;
}

.nota-al-pie2 {
  display: inline;
  justify-content: center;
  top: 0px;
  position: relative;
  font-size: 0.8rem;
  font-weight: bolder;
  height: min-content;
}
.nota-al-pie2 p {
  text-align: center;
}
.nota-al-pie2 a {
  text-decoration: none;
}
.nota-al-pie2 a:link {
  color: #6B8D9E;
}
.nota-al-pie2 a:visited {
  color: #6B8D9E;
}

.contenedor-discos {
  padding: 20px 50px 40px 50px;
}
@media (max-width: 768px) {
  .contenedor-discos {
    display: grid;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr;
    grid-template-areas: "disco1 disco2" "disco3 disco4";
  }
}

.disco1 {
  margin-bottom: 5px;
  box-shadow: 0 8px 8px 0 rgb(0, 0, 0);
}
@media (max-width: 768px) {
  .disco1 {
    grid-area: disco1;
  }
}

.disco2 {
  margin-bottom: 5px;
  box-shadow: 0 8px 8px 0 rgb(0, 0, 0);
}
@media (max-width: 768px) {
  .disco2 {
    grid-area: disco2;
  }
}

.disco3 {
  margin-bottom: 5px;
  box-shadow: 0 8px 8px 0 rgb(0, 0, 0);
}
@media (max-width: 768px) {
  .disco3 {
    grid-area: disco3;
  }
}

.disco4 {
  margin-bottom: 5px;
  box-shadow: 0 8px 8px 0 rgb(0, 0, 0);
}
@media (max-width: 768px) {
  .disco4 {
    grid-area: disco4;
  }
}

.contenedor-videos1 {
  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: center;
  width: 90%;
}

.video-principal {
  width: 100%;
  margin: 20px 0 20px 0;
  box-shadow: 0 8px 8px 0 rgb(0, 0, 0);
}

.carousel {
  width: 100%;
  margin-bottom: 20px;
  box-shadow: 0 8px 8px 0 rgb(0, 0, 0);
}

@media (min-width: 1025px) and (max-width: 1340px) {
  .contenedor-videos1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 90%;
  }
  .video-principal {
    max-width: 70%;
    align-self: center;
  }
  .carousel {
    max-width: 70%;
    align-self: center;
  }
}
@media (min-width: 1340px) {
  .contenedor-videos1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 90%;
  }
  .video-principal {
    max-width: 70%;
    align-self: center;
  }
  .carousel {
    max-width: 70%;
    align-self: center;
  }
}
.shows-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: center;
  row-gap: 10px;
  margin: 10px;
}
.shows-container img {
  width: 100%;
}
.shows-container img:hover {
  transform: scale(1.1);
}
.shows-container .show1 {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 90%;
}
.shows-container .show2 {
  grid-column: 1/2;
  grid-row: 2/3;
  width: 90%;
}
@media (min-width: 1025px) and (max-width: 1340px) {
  .shows-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 30px;
  }
  .shows-container .show1 {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 90%;
  }
  .shows-container .show2 {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 90%;
  }
}
@media (min-width: 1340px) {
  .shows-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 30px;
  }
  .shows-container .show1 {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 90%;
  }
  .shows-container .show2 {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 90%;
  }
}

p {
  text-align: center;
  margin: 10px;
}

form h2 {
  text-align: center;
  font-weight: 900;
  padding-top: 5px;
  padding-bottom: 20px;
}
@media (max-width: 768px) {
  form {
    max-width: 500px;
    font-size: 18px;
    display: grid;
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr;
  }
}
form p {
  text-align: center;
  padding: 25px;
}
@media (max-width: 768px) {
  form p {
    grid-row: 1/2;
    align-content: end;
    justify-items: center;
  }
}

.formulario {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 20px;
}
@media (max-width: 768px) {
  .formulario {
    grid-row: 2/3;
    align-content: center;
  }
}

input,
textarea {
  margin-bottom: 10px;
  border-radius: 15px;
  padding: 5px;
  background-color: #d3d3d3;
  border: #6B8D9E;
  outline-style: none;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3);
}

.a-tyc {
  display: flex;
  justify-content: center;
  padding-bottom: 5px;
}
.a-tyc a {
  text-decoration: none;
  color: #6B8D9E;
}

.ver {
  display: flex;
  justify-content: center;
}

.easteregg {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  margin-bottom: 10px;
}
.easteregg img {
  width: 80%;
  align-self: center;
}
.easteregg p {
  text-align: center;
  font-weight: 600;
  padding-top: 30px;
}

/*# sourceMappingURL=style.css.map */
