.bio-container {

    height: auto;
    display: grid;
    grid-template-rows: min-content min-content min-content min-content;
    grid-template-columns: 1fr;
    grid-row-gap: 15px;
    grid-column-gap: 10px;
    justify-content: center;
    margin-top: 10px;
    height: fit-content;

    .bio-imagen1 {
        width: 90%;
        grid-row: 1/2;
        margin-bottom: 20px;
    }

    .bio-texto1 {
        grid-row: 2/3;
        width: 90%;
        margin: auto;
    }

    .bio-imagen2 {
        width: 90%;
        grid-row: 3/4;
        margin-bottom: 20px;
    }

    .bio-texto2 {
        grid-row: 4/5;
        width: 90%;
        margin: auto;
    }

    .bio-texto2 h3 {
        font-weight: 600;
        text-align: center;
    }
    
    .bio-texto3 {
        grid-column: 1/2;
        grid-row: 5/6;
        margin: 50px;
        text-align: center;
    }

    img {
        align-self: center;
        justify-self: center;
        border-radius: 10px;
        box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 1);
    }

    p {
        font-size: 0.8rem;
        text-align: justify;
        align-self: center;
        width: 100%;
        margin: 0px;
    }

    ul {
        display: inline;
        font-size: small;
        align-self: center;
        justify-self: center;
        text-align: center;

    }

    h3 {
        font-weight: 600;
        text-align: center;
    }

    @include mq-lg {

        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 0px;
        grid-column-gap: 5px;
        justify-content: center;
        align-content: center;
        padding: 20px 20px 40px 20px;

        .bio-imagen1 {
            width: 100%;
            height: auto;
            grid-column: 2/3;
            grid-row: 1/2;
        }

        .bio-texto1 {
            grid-column: 1/2;
            grid-row: 1/2;
            width: 100%;
        }

        .bio-imagen2 {
            width: 80%;
            height: auto;
            grid-column: 1/2;
            grid-row: 2/3;
            margin-top: 41.028px;
        }

        .bio-texto2 {
            grid-column: 2/3;
            grid-row: 2/3;
            width: 100%;
        }

        p {
            font-size: 1rem;
            line-height: 120%;
            padding: 0 15px 0 15px;
        }
    }



    @include mq-xl {
        
        display: grid;
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 45% 45%;
        grid-row-gap: 0px;
        grid-column-gap: 0px;
        justify-content: center;
        align-content: center;
        padding: 20px 20px 40px 20px;

        .bio-imagen1 {
            width: 80%;
            height: auto;
            grid-column: 2/3;
            grid-row: 1/2;
        }

        .bio-texto1 {
            grid-column: 1/2;
            grid-row: 1/2;
            width: 70%;
        }

        .bio-imagen2 {
            width: 80%;
            height: auto;
            grid-column: 1/2;
            grid-row: 2/3;
        }

        .bio-texto2 {
            grid-column: 2/3;
            grid-row: 2/3;
            width: 80%;
        }

        p {
            font-size: 1rem;
            line-height: 120%;
            padding: 0 15px 0 15px;
        }
    }
}

.bio-texto2 h3 {
    font-weight: 600;
    text-align: center;
}

.bio-texto3 {
    grid-column: 1/2;
    grid-row: 5/6;
    margin-bottom: 20px;
    text-align: center; 
}

.nota-al-pie2 {
    display: inline;
    justify-content: center;
    top: 0px;
    position: relative;
    font-size: 0.8rem;
    font-weight: bolder;
    height: min-content;

    p {
    text-align: center;   
}

    a {
        text-decoration: none;

        &:link {
            color: $color-tres;
        }

        &:visited {
            color: $color-tres;
        }
    }
}

