.contenedor-videos1 {
    @include mq-sm {
        display: flex;
        flex-direction: column;
        justify-self: center;
        align-self: center;
        max-width: 800px;
        margin: auto;
    }
}

.video-principal {
    margin: 50px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 1);

}

.carousel {
    margin: 50px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 1);

}

.link-yb {
    text-align: center;
    margin-top: 50px;
    font-size: 1.5rem;
    font-weight: 500;

    @include mq-sm {
        font-size: 2rem;
        font-weight: 500;
    }
}