.easteregg {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    margin-bottom: 10px;

    img {
        width: 80%;
        align-self: center;

    }

    p {
        text-align: center;
        font-weight: 600;
        padding-top: 30px;
    }

}

