.easteregg {
    display: flex;
    flex-direction: column;
    padding-top: 80px;
    margin-bottom: 10px;

    img {
        width: 50%;
        align-self: center;

        @include mq-sm {
            width: 30%;
            padding-top: 100px;
            justify-items: center;
        }
    }

    p {
        text-align: center;
        font-weight: 600;
        padding-top: 30px;

        @include mq-sm {
            text-align: center;
            font-weight: 600;
            padding-top: 30px;
        }
    }
}

