
.navbar {
    background-color: $color-dos !important;
}
.navbar-brand  {
    img {
        filter: drop-shadow(4px 4px 5px $color-fuente);
    }

    @include mq-sm {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.nav-link {
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: $color-btn-nav;
    font-weight: bolder;



    &:hover {
        translate: 1px -5px;
        transform: scale(1.1);
        transition: box-shadow 0.5s ease;
        box-shadow: 0 8px 8px 0 rgba(40, 40, 46, 0.5);
        color: $color-tres;
        background-color: #26343b;
    }

    &:visited {
        color: $color-tres;
    }

    @include mq-sm {
        padding: 0px 3px 0px 3px;
        margin-top: 5px;
    }
}



@include mq-sm {
    .container-fluid {
        flex-direction: column;
    }
    .btn-menu {
        color: transparent;
    }

    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28250, 235, 215, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
    }

    .navbar-toggler {
        border: solid rgb(250 235 215 / 20%);
    }

    .nav-item {
        text-align: center;
    }
}
